.gradientBg {
    background: linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(164,164,164,1) 45%, rgba(0,0,0,1) 100%);
}
.student-info-form {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.student-info-form label {
    font-weight: bold;
}
.student-info-form input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.application-table {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.application-table table {
    width: 100%;
    border-collapse: collapse;
}
.application-table th, .application-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.application-table th {
    background-color: #4CAF50;
    color: white;
}
.application-table td.pending {
    color: #999;
}
.margin-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    margin: 0;
}